@charset "UTF-8";

/* reset */
.⚶-chart ol {
    margin: 0 0 0 0;
    padding: 0 0 0 0; /* browser default is non-0 */
}

/* reset */
.⚶-chart li {
    margin: 0 0 0 0;
    padding: 0 0 0 0; /* browser default is non-0 */
}

div.⚶-chart {
    /* add some margin for absolute positioned markup */
    margin: 1rem;
}

.⚶-chart li.⚶-famc {
    /* so that we can position markup and data absolutely */
    position:relative;
}

.⚶-chart div.⚶-famc {
    /* so that we can position markup and data absolutely */
    /* position:relative; */
}

.⚶-chart div.⚶-markup {
    position:absolute;
    width: 2rem;
    height: 2rem;
    font-weight: 700;
    text-align: center;
    padding: 0.25rem 0 0 0;
}

.⚶-chart div.⚶-markup.⚶-markup-type-first_repeated {
    background-image: linear-gradient(var(--sex-x-bg), var(--sex-x-bg));
    background-size: 100%;
}

.⚶-chart div.⚶-markup.⚶-markup-type-other_repeated {
    background-image: linear-gradient(#e0e0e0, #e0e0e0);
    background-size: 100%;
}

.⚶-chart div.⚶-data {
    position:absolute;
    font-weight: 700;
    text-align: center;
    padding: 0 0.5rem 0 0.5rem;
    background-image: linear-gradient(#e0e0e0, #e0e0e0);
    background-size: 100%;
}

/* ************************************************************************** */
    
.⚶-chart-style-up ol.⚶-famc {
    display: inline-flex; /* inline-flex required in order to grow with content https://stackoverflow.com/a/46650650 */
    flex-direction: column-reverse;
    align-items: center;
}

.⚶-chart-style-up ol.⚶-fam {
    display: inline-flex;
    flex-direction: row;
    /* cannot center in case of sub trees of unequal depth */
}

/* stack to save space */
.⚶-chart-style-up ol.⚶-fam.⚶-fam-leaves {
    display: inline-flex;
    flex-direction: column; /* first parent always on top */
    align-items: center;
}

/* required for the connectors */
.⚶-chart-style-up li.⚶-famc {
    display: inline-flex;
    flex-direction: column-reverse;
    align-items: center;
}

/* required to avoid gap */
.⚶-chart-style-up div.⚶-famc {
    display: inline-flex;
    flex-direction: column-reverse;
    align-items: center;
}

/* required for the connectors */
.⚶-chart-style-up li.⚶-fam {
    display: inline-flex;
    flex-direction: column-reverse;
    align-items: center;
}

/* connector 'from' part */
.⚶-chart-style-up li.⚶-famc:not(:only-child):last-child::before {
    content: "";
    width: 1px;
    height: 15px;
    background-color: black;
}

/* connector 'to' part ('left') */
.⚶-chart-style-up li.⚶-fam:not(.⚶-fam-leaves):not(:only-child):first-child::before {
    content: "";
    align-self: flex-end;
    width: calc(50% + 1.5px);
    height: 15px;
    border-width: 1.5px;
    border-bottom-left-radius: 10px;
    border-left-color: black;
    border-left-style: solid;
    border-bottom-color: black;
    border-bottom-style: solid;
    background-color: transparent;
}

/* connector 'to' part ('right') */
.⚶-chart-style-up li.⚶-fam:not(.⚶-fam-leaves):not(:only-child):last-child::before {
    content: "";
    align-self: flex-start;
    width: calc(50% + 1.5px);
    height: 15px;
    border-width: 1.5px;
    border-bottom-right-radius: 10px;
    border-right-color: black;
    border-right-style: solid;
    border-bottom-color: black;
    border-bottom-style: solid;
    background-color: transparent;
}

/* stack to save space */
/* connector 'to' part ('leaves') */
.⚶-chart-style-up li.⚶-fam.⚶-fam-leaves:not(:only-child):last-child::before {
    content: "";
    align-self: center;
    width: calc(20%);
    height: 15px;
    border-width: 1.5px;
    border-left-color: black;
    border-left-style: solid;
    border-bottom-left-radius: 10px;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-right-radius: 10px;
    border-right-color: black;
    border-right-style: solid;
    background-color: transparent;
}

/* connector 'to' part ('only') */
.⚶-chart-style-up li.⚶-fam:only-child::before {
    content: "";
    align-self: center;
    width: 1px;
    height: 15px;
    background-color: black;
}

.⚶-chart-style-up .wt-chart-box {
    height: 8rem;
    width: 10rem;
    /* add some margin for absolute positioned markup */
    margin: 0 1.5rem 0 1.5rem;
}

.⚶-chart-style-up div.⚶-markup {
    left: -0.5rem;
    top: 0.5rem;
}

.⚶-chart-style-up div.⚶-data {
    left: 11.5rem;
    top: 5.5rem;
}

/* ************************************************************************** */

.⚶-chart-style-down ol.⚶-famc {
    display: inline-flex; /* inline-flex required in order to grow with content https://stackoverflow.com/a/46650650 */
    flex-direction: column;
    align-items: center;
}

.⚶-chart-style-down ol.⚶-fam {
    display: inline-flex;
    flex-direction: row;
    /* cannot center in case of sub trees of unequal depth */
}

/* stack to save space */
.⚶-chart-style-down ol.⚶-fam.⚶-fam-leaves {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

/* required for the connectors */
.⚶-chart-style-down li.⚶-famc {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

/* required to avoid gap */
.⚶-chart-style-down div.⚶-famc {
    display: inline-flex;
    flex-direction: column;
    align-items: center;    
}

/* required for the connectors */
.⚶-chart-style-down li.⚶-fam {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

/* connector 'from' part */
.⚶-chart-style-down li.⚶-famc:not(:only-child):last-child::before {
    content: "";
    width: 1px;
    height: 15px;
    background-color: black;
}

/* connector 'to' part ('left') */
.⚶-chart-style-down li.⚶-fam:not(.⚶-fam-leaves):not(:only-child):first-child::before {
    content: "";
    align-self: flex-end;
    width: calc(50% + 1.5px);
    height: 15px;
    border-width: 1.5px;
    border-top-left-radius: 10px;
    border-left-color: black;
    border-left-style: solid;
    border-top-color: black;
    border-top-style: solid;
    background-color: transparent;
}

/* connector 'to' part ('right') */
.⚶-chart-style-down li.⚶-fam:not(.⚶-fam-leaves):not(:only-child):last-child::before {
    content: "";
    align-self: flex-start;
    width: calc(50% + 1.5px);
    height: 15px;
    border-width: 1.5px;
    border-top-right-radius: 10px;
    border-right-color: black;
    border-right-style: solid;
    border-top-color: black;
    border-top-style: solid;
    background-color: transparent;
}

/* stack to save space */
/* connector 'to' part ('leaves') */
.⚶-chart-style-down li.⚶-fam.⚶-fam-leaves:not(:only-child):first-child::before {
    content: "";
    align-self: center;
    width: calc(20%);
    height: 15px;
    border-width: 1.5px;
    border-left-color: black;
    border-left-style: solid;
    border-top-left-radius: 10px;
    border-top-color: black;
    border-top-style: solid;
    border-top-right-radius: 10px;
    border-right-color: black;
    border-right-style: solid;
    background-color: transparent;
}

/* connector 'to' part ('only') */
.⚶-chart-style-down li.⚶-fam:only-child::before {
    content: "";
    align-self: center;
    width: 1px;
    height: 15px;
    background-color: black;
}

.⚶-chart-style-down .wt-chart-box {
    height: 8rem;
    width: 10rem;
    /* add some margin for absolute positioned markup */
    margin: 0 1.5rem 0 1.5rem;
}

.⚶-chart-style-down div.⚶-markup {
    left: -0.5rem;
    top: 0.5rem;
}

.⚶-chart-style-down div.⚶-data {
    left: 11.5rem;
    top: 5.5rem;
}

/* ************************************************************************** */

.⚶-chart-style-right ol.⚶-famc {
    display: inline-flex; /* inline-flex required in order to grow with content https://stackoverflow.com/a/46650650 */
    flex-direction: row;
    align-items: center;
}

.⚶-chart-style-right ol.⚶-fam {
    display: inline-flex;
    flex-direction: column;
    /* cannot center in case of sub trees of unequal depth */
}

/* stack to save space */
.⚶-chart-style-right ol.⚶-fam.⚶-fam-leaves {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

/* required for the connectors */
.⚶-chart-style-right li.⚶-famc {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

/* required to avoid gap */
.⚶-chart-style-right div.⚶-famc {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

/* required for the connectors */
.⚶-chart-style-right li.⚶-fam {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

/* connector 'from' part */
.⚶-chart-style-right li.⚶-famc:not(:only-child):last-child::before {
    content: "";
    width: 15px;
    height: 1px;
    background-color: black;
}

/* connector 'to' part ('left') */
.⚶-chart-style-right li.⚶-fam:not(.⚶-fam-leaves):not(:only-child):first-child::before {
    content: "";
    align-self: flex-end;
    width: 15px;
    height: inherit;
    /*
    width: 15px;
    height: calc(50% + 1.5px);
    */
    border-width: 1.5px;
    border-top-left-radius: 10px;
    border-left-color: black;
    border-left-style: solid;
    border-top-color: black;
    border-top-style: solid;
    background-color: transparent;
}

/* connector 'to' part ('right') */
.⚶-chart-style-right li.⚶-fam:not(.⚶-fam-leaves):not(:only-child):last-child::before {
    content: "aaa";
    align-self: flex-start;
    width: 15px;
    height: calc(50% + 1.5px);
    border-width: 1.5px;
    border-bottom-left-radius: 10px;
    border-left-color: black;
    border-left-style: solid;
    border-bottom-color: black;
    border-bottom-style: solid;
    background-color: transparent;
}

.⚶-chart-style-right li.⚶-fam.⚶-fam-leaves {
    /*height: 128px;*/
}

/* stack to save space */
/* connector 'to' part ('leaves') */
.⚶-chart-style-right li.⚶-fam.⚶-fam-leaves:not(:only-child):first-child::before {
    content: "aaaa";
    align-self: center;
    width: 15px;
    display: block;
    height: calc(20%);
    border-width: 1.5px;
    border-top-left-radius: 10px;
    border-left-color: black;
    border-left-style: solid;
    border-top-color: black;
    border-top-style: solid;
    border-bottom-left-radius: 10px;
    border-bottom-color: black;
    border-bottom-style: solid;
    background-color: transparent;
}

/* connector 'to' part ('only') */
.⚶-chart-style-right li.⚶-fam:only-child::before {
    content: "";
    align-self: center;
    width: 15px;
    height: 1px;
    background-color: black;
}

.⚶-chart-style-right .wt-chart-box {
    height: 5rem;
    width: 15rem;
    /* add some margin for absolute positioned markup */
    margin: 1.5rem 0 1.5rem 0;
}

.⚶-chart-style-right div.⚶-markup {
    left: -0.5rem;
    top: 0.5rem;
}

.⚶-chart-style-right div.⚶-data {
    left: 11.5rem;
    top: 5.5rem;
}

/* ************************************************************************** */
